.header {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header > a{
    width: 2vmax;
    height: 2vmax;
    margin: 1vmax 4vmax;
}

.header > a > svg {
    font-size: 2vmax;
    transition: all 0.5s;
    color: rgb(87, 85, 85);
}

.header > a > svg:hover{
    color:black;
    transition: scale(1.2);
}

@media screen and (max-width:600px) { 
    .header > a {
        width: 7vw;
        height: 7vw;
        margin: 2vw 7vw;
    }
    
}

